header {
  height: 550px; /* 400px; */ 
  padding-top: 150px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f1ec;
  background-image:url(../images/asfalt-light.png);
}

