.mainHeader {
  height: 450px; 
  padding-top: 7rem;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cb9922;
  position:fixed;
  background-image:url(../images/asfalt-light.png);
}

